<h1>Welcome to NonePassword</h1>
<p>The ultimate, safest password storage. Gandalf approves</p>
<%= link_to 'Sign in here', new_user_session_path %>
<br/>
<%= link_to 'Sign up here', new_user_registration_path %>

To invest, click here - one million dollars only, please
